/* Wi-Fi Connection Styles */

html {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif; 
  display: inline-block; 
  text-align: left;
}

body {
  display: flex;
  justify-content: center; /* center horizontally */
  align-items: center; /* center vertically */
}

h2 {
  font-size: 3rem;
  line-height: 10px;
  margin-top: 100;
}

.wifi-connection {
  background-color: #f2f2f2;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 24px;
  width: 400px;
}

.wifi-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.wifi-header h2 {
  font-size: 24px;
  margin: 0;
}

.wifi-cancel {
  background-color: transparent;
  border: none;
  color: #007aff;
  font-size: 16px;
}

.wifi-cancel:hover {
  cursor: pointer;
  text-decoration: underline;
}

.wifi-form {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 16px;
  margin-bottom: 8px;
}

input[type="text"],
input[type="password"] {
  background-color: #fff;
  border: 1px solid #c2c2c2;
  border-radius: 8px;
  font-size: 16px;
  margin-bottom: 16px;
  padding: 12px;
}

input[type="text"]:focus,
input[type="password"]:focus {
  outline: none;
  border-color: #007aff;
}

.wifi-connect {
  background-color: #007aff;
  border: none;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  margin-top: 16px;
  padding: 12px;
}

.wifi-connect:hover {
  background-color: #0069d9;
}